@charset "utf-8";
/* CSS Document */

html {
    scroll-padding-top: 80px; /* Same as banner height */
}

a:link, a:visited {
	text-decoration:none;
	color:#065388;
}
a:hover {
	color:#990000;	
}
a.current:link, a.current:visited {
	color:#111;
	font-weight:bold;
}
img { border:none;}
body {
	margin:0;
	padding:0;
	background-color:#999999; /* Default: 272727*/
	color:#333;
	font-family:"Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
	opacity: 90%;
}


#container {
	width:960px;
	margin:auto;
	font-size:14px;
}
#ucb {
}
#wrapper {
 box-shadow: 0 0 5px #222;
 -webkit-box-shadow: 0 0 5px #222;
 -moz-box-shadow: 0 0 5px #222;
 -moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin:5px 0;

}
/*#header {*/
/*	width: 960px;*/
/*	background-color:#CCC;*/
/*	border-bottom:1px solid #DDD;*/
/*	position: fixed;*/
/*}*/
#banner {
	/*color:#FFF;*/
	color:#555555;
	padding-top: 15px;
	padding-bottom: 15px;
	position: fixed;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	width: 960px;
	background-color:#eeeeee;
	margin:0;
	border-bottom:3px solid #b28c5b;
}
h1 {
	margin:0;
	padding: 0;
	font-size:30px;
}
#banner p {
	margin:0;
	text-transform: uppercase;
	font-size:14px;
}

#nav {
	/*background-color:#EEE;*/
	/*background-color:#CCC;*/
	/*color:#555555;*/
	color:palevioletred;
	border-bottom:0 solid #DDD;
}
#nav ul {
	list-style:none;
	margin:0;
	/*padding:0 0;*/
	height:32px;
}
#nav ul li {
	display:inline;
	float:left;
}
#nav a:link, #nav a:visited {
	display:block;
	float:right;
	line-height:32px;
	padding-left: 30px;
	font-size:16px;
}
#page {
	background-color:#FFF;
	overflow:auto;
	/*padding:15px 0;*/
	/*top: 100px;*/
	/*position: absolute;*/
	/*
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	*/
}
#sidebar {
	min-width:210px;
	float:right;
	line-height:140%;
	background-color:#EEE;
	border: 1px solid #E5E5E5;
	margin-top: 40px;
	margin-right: 5px;
	margin-bottom: 0;
	margin-left: 15px;
}


#sidebar h3, #sidebar p {
	padding:80px 10px;
}
#content {
	/*padding-top: 50px;*/
	margin:0 15px;
	line-height:160%;
}
#home{
	padding-top: 80px;
}
/*#education{
	padding-top: 80px;
}
#research{
	padding-top: 80px;
}
#contact{
	padding-top: 80px;
}*/
#footer {
	padding:15px;	
	overflow:auto;
	color:#FFF;
	font-size:90%;
	text-align:right;
}
#footer img {
	float:left; 
	margin-right:15px;
}

h2 {
	margin-top:0;
	color:#494949;
	font-weight:normal;
	font-size:200%;
}

.right {
	float:right;
	margin: 0 0 15px 15px;
}
.left {
	float:left;
	margin:0 15px 15px 0;
}

#contentbar {
	width:250px;
	float:left;
	line-height:140%;
	background-color:#EEE;
	border: 1px solid #E5E5E5;
	/*margin-top: 80px;*/
	margin-right: 15px;
	margin-bottom: 0;
	margin-left: 0;
}

#contentbar h3, #contentbar p {
	padding:0 10px;
}
#fac_photo {margin-left:auto; margin-right:auto; display:block; padding:10px;}
h1 {
	 -moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
		
}
#page {
	
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;

}

#banner p {padding-left:1em}
/* uncomment the specific line to hide the content div on specific pages */
/* .contentbar1 {display:none}  */
 .contentbar2 {display:none}  
/* .contentbar3 {display:none}  */
/* .contentbar4 {display:none}  */
/* .contentbar5 {display:none}  */



